body{
    font-family: 'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans';
}
.navbar{
  background-color: #6667AB;
}
.category{
    background-color:#6667AB;
}
.forum-col{
    min-width: 256px;
}
.last-post-col {
    min-width: 192px;
}


